/* General Styles */


body {
    background: rgb(233, 231, 231);
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span {
    display: block;
}
img {
    width: 100%;   
}


/* Header */


.header {
    clear: both;
    width: 100%;
    background: white;
    
}
div.header :first-child {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 65px;
    font-size: 30pt;
}


/* Box Position and color */


.boxContainer {
    padding-top: 20px;
}    
.box {
    width: 600px;
    margin: auto;
    background: white;
}    


/* Box Header */


.boxHeader {
    width: 100%;
    display: flex;
}    
div.box span.boxDate h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 365px;
    color: rgb(190, 186, 186);
    text-align: right;
}
div.box span.boxHeader h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

