/* General Styles */

body {
    background: rgb(233, 231, 231);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
span {
    display: block;
}
img {
    width: 100%;   
}

/* Main Header */

.header {
    clear: both;
    width: 100%;
    background: white;
    
}
div.header :first-child {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 55px;
    font-size: 30pt;
}

/* Box Position and color */

.boxPosition {
    padding-top: 50px;
}    
.box {
    width: 600px;
    margin: auto;
    background: white;
}    
.imgGap {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* Box Header */


.boxHeader {
    width: 100%;
}    
.boxHeaderPosition {
    display:flex
}
div.box span.boxHeader h2 {
    padding-left: 20px;
    text-align: left;
}
div.box span.boxDate h3 {
    padding-right: 20px;
    color: rgb(190, 186, 186);
    font-weight: lighter;
    padding-top: 3px;
    text-align: right;
}
.borderBottom {
    border-bottom: 1px solid #ebe2e2;
}

/* Box Text */

.boxText {
    clear: both;
    margin-top: 0;
    padding: 15px;
}
.borderTop {
    border-top: 1px solid #ebe2e2;
}

